JIRA_DOMAIN=https://pravallikagumudavelli.atlassian.net
JIRA_EMAIL=pravallikagumudavelli@gmail.com
JIRA_API_TOKEN=ATATT3xFfGF0DcolxBjIJX2bYgPXlv25-1UY3GS1hzpplbwhjB8NyIlf01squgZNlDMR5YaVKCJvcdCsDOcpeLDhPZPq-Tqq0jHqTPMqHhkKv4MNXHNMP2IBkC5zfubfDEZljYKBbgswZmM2QSTv7fWOFwoS89C4TQpeOc27b28bPlmdRC6uBbw=9B163D52
JIRA_PROJECT=UAT
 
GITHUB_TOKEN=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
GITHUB_REPO=Pravallika2521/Smart-release-hub
